services:
  mc:
    build: .
    container_name: mc-server
    ports:
      - "25565:25565"
    volumes:
      - ./server-data:/data:z
      - ./backups:/backups:z
      - ./modrinth-instance:/modpack:z
      - ./start.sh:/minecraft/start.sh
    environment:
      - MEMORY_SIZE=${MEMORY_SIZE:-4G}
      - WORLD_BACKUP=${WORLD_BACKUP:-false}
      - RESET_WORLD=${RESET_WORLD:-false}
    restart: unless-stopped
